{% extends 'base.html.twig' %}

{% block title %}{{ magasin.name }}{% endblock %}

{% block body %}
    <h1>{{ magasin.name }}</h1>

    <a href="{{ path('magasin_index') }}">back to list</a>

    <a href="{{ path('magasin_edit', {'id': magasin.id}) }}">edit</a>

    {{ include('magasin/_delete_form.html.twig') }}
    <h2>Produits</h2>
    <table class="table">
    <thead><th>Id</th><th>Nom</th><th>quantite en stock</th><th>prix</th><th>acheter</th><th>actions</th></thead>
    {% for stock in magasin.stocks %}
            <tr>
                <td>{{ stock.product.id }}</td>
                <td>{{ stock.product.name }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.prix }}
                <td>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <form action="{{ path('commande_add_line') }}" method="post">
                            <input type="number" name="quantite_produit" min="0" max="{{ stock.quantite }}"> 
                            <input type="hidden" name="user" value="{{app.user.id}}">
                            <input type="hidden" name="product" value="{{ stock.product.id }}">
                            <input type="hidden" name="shop" value="{{ magasin.id }}">
                            <button>ajouter au panier</button>
                        </form>
                    {% else %} 
                        <a href="{{ path('app_login') }}">Connectez-vous</a> pour commander! 
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_show', {'id': stock.product.id}) }}">show</a>
                        <a href="{{ path('product_edit', {'id': stock.product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
    {% endfor %}
        </table>
{% endblock %}
