{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Récapitulatif Commande</h1>
    Etat de la commande: 
    {% if commande.etat == 1 %}
    Non validée
    {% elseif commande.etat == 2 %}
    Validée
    {% elseif commande.etat == 3 %} 
    En préparation
    {% elseif commande.etat == 4 %} 
    Récupérée
    {% endif %}

    <h2>Articles de la commande</h2>
    <table class="table"><thead><th>id Article</th><th>Nom Article</th><th>quantité</th><th>Prix</th><th>action</th></thead>
    <tbody>
    {% for ligne in commande.ligneCommandes %}
        <tr><td>{{ligne.product.id}}</td><td>{{ligne.product.name}}</td><td>{{ligne.quantite}}</td><td>{{ligne.prixTotal}}</td><td></td></tr>
    {% endfor %}
    <tr><td colspan="2"></td><td><b>Total:</b></td><td>{{commande.prixTotal}}</td><td></td></tr>
    </tbody></table>
    {% if commande.etat == 1 %}
        <a class="btn btn-success" href="{{ path('commande_validate', {'id': commande.id})}}">Valider</button>
    {% endif %}
    <a href="{{ path('commande_index') }}">Retour à la liste</a>

    <a href="{{ path('commande_edit', {'id': commande.id}) }}">Modifier</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
